<div class="card" id="view91">
  <div class="card-king spade">
    <div class="corner top">
      <span class="number">K</span>
      <span>♠</span>
    </div>
    <span class="face middle_center">
      <img src="ember-playing-cards/img/faces/face-king-spade.png">
    </span>
    <div class="corner bottom">
      <span class="number">K</span>
      <span>♠</span>
    </div>
  </div>
</div>

{{outlet}}
